.key {
  &__value {
    &-en {
      &-default,
      &-shift {
        display: none;
      }
    }
    &-ru {
  
      &-default,
      &-shift {
        display: none;
      }
    }
    &_active {
      display: inline-block;
    }
  }

  &__button {
    min-width: 50px;
    width: 100%;
    height: 50px;
    background: #3a424e;
    color: #fff;
    transition: 0.2s;
    border-radius: 5px;
    &_ather {
      background: #1c232e;
      color: #808080;
    }
    &_active {
      background: #5571ee;
      color: #808080;
    }
    &:active {
      background: #5571ee;
      color: #808080;
    }
  }
}